<div>
  <h2 id="page-heading" data-cy="TransactionEtapeHeading">
    <span jhiTranslate="scibscrmApp.transactionEtape.home.title">Transaction Etapes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="scibscrmApp.transactionEtape.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-transaction-etape"
        [routerLink]="['/transaction-etape/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="scibscrmApp.transactionEtape.home.createLabel"> Create a new Transaction Etape </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="transactionEtapes?.length === 0">
    <span jhiTranslate="scibscrmApp.transactionEtape.home.notFound">No Transaction Etapes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="transactionEtapes && transactionEtapes.length > 0">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="teName">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.transactionEtape.teName">Te Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="teDescription">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.transactionEtape.teDescription">Te Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tebgColor">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.transactionEtape.tebgColor">Tebg Color</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="teIcon">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.transactionEtape.teIcon">Te Icon</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transactionEtape of transactionEtapes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/transaction-etape', transactionEtape.id, 'view']">{{ transactionEtape.id }}</a>
          </td>
          <td>{{ transactionEtape.teName }}</td>
          <td>{{ transactionEtape.teDescription }}</td>
          <td>{{ transactionEtape.tebgColor }}</td>
          <td>{{ transactionEtape.teIcon }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/transaction-etape', transactionEtape.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/transaction-etape', transactionEtape.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(transactionEtape)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="transactionEtapes && transactionEtapes.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
