<div>
  <h2 id="page-heading" data-cy="SupplierHeading">
    <span jhiTranslate="scibscrmApp.supplier.home.title">Suppliers</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="scibscrmApp.supplier.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-supplier"
        [routerLink]="['/supplier/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="scibscrmApp.supplier.home.createLabel"> Create a new Supplier </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="suppliers?.length === 0">
    <span jhiTranslate="scibscrmApp.supplier.home.notFound">No Suppliers found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="suppliers && suppliers.length > 0">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="companyName">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.companyName">Company Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="adresse">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.adresse">Adresse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="tel">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.tel">Tel</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mobile">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.mobile">Mobile</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailAdress">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.emailAdress">Email Adress</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="categorie.spCategory">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.supplier.categorie">Categorie</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/supplier', supplier.id, 'view']">{{ supplier.id }}</a>
          </td>
          <td>{{ supplier.companyName }}</td>
          <td>{{ supplier.adresse }}</td>
          <td>{{ supplier.tel }}</td>
          <td>{{ supplier.mobile }}</td>
          <td>{{ supplier.emailAdress }}</td>
          <td>{{ supplier.createdAt | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="supplier.categorie">
              <a [routerLink]="['/supplier-category', supplier.categorie.id, 'view']">{{ supplier.categorie.spCategory }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/supplier-offer']"
                [queryParams]="{ 'filter[supplierId.in]': supplier.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('scibscrmApp.supplier.supplierOffer' | translate) }"
                  >Show Supplier Offer</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/supplier', supplier.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/supplier', supplier.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(supplier)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="suppliers && suppliers.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
