<div>
  <h2 id="page-heading" data-cy="CrmConcurrentHeading">
    <span jhiTranslate="scibscrmApp.crmConcurrent.home.title">Crm Concurrents</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="scibscrmApp.crmConcurrent.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-crm-concurrent"
        [routerLink]="['/crm-concurrent/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="scibscrmApp.crmConcurrent.home.createLabel"> Create a new Crm Concurrent </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="crmConcurrents?.length === 0">
    <span jhiTranslate="scibscrmApp.crmConcurrent.home.notFound">No Crm Concurrents found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="crmConcurrents && crmConcurrents.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerType">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.customerType">Customer Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="company">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.company">Company</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailAddress">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.emailAddress">Email Address</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="businessPhone">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.businessPhone">Business Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="mobilePhone">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.mobilePhone">Mobile Phone</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="faxNumber">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.faxNumber">Fax Number</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="caAnnual">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.caAnnual">Ca Annual</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="addresse">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.addresse">Addresse</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="wilaya">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.wilaya">Wilaya</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="daira">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.daira">Daira</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="codePostal">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.codePostal">Code Postal</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="commune">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.commune">Commune</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="webPage">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.webPage">Web Page</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="notes">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.notes">Notes</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="attachments">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.attachments">Attachments</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="aboutSource">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.aboutSource">About Source</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdTime">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.createdTime">Created Time</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="lastUpdate">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.lastUpdate">Last Update</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="latitude">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.latitude">Latitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="longitude">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.longitude">Longitude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="logo">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.crmConcurrent.logo">Logo</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crmConcurrent of crmConcurrents; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/crm-concurrent', crmConcurrent.id, 'view']">{{ crmConcurrent.id }}</a>
          </td>
          <td jhiTranslate="{{ 'scibscrmApp.CustomerType.' + crmConcurrent.customerType }}">{{ crmConcurrent.customerType }}</td>
          <td>{{ crmConcurrent.company }}</td>
          <td>{{ crmConcurrent.emailAddress }}</td>
          <td>{{ crmConcurrent.businessPhone }}</td>
          <td>{{ crmConcurrent.mobilePhone }}</td>
          <td>{{ crmConcurrent.faxNumber }}</td>
          <td>{{ crmConcurrent.caAnnual }}</td>
          <td>{{ crmConcurrent.addresse }}</td>
          <td>{{ crmConcurrent.wilaya }}</td>
          <td>{{ crmConcurrent.daira }}</td>
          <td>{{ crmConcurrent.codePostal }}</td>
          <td>{{ crmConcurrent.commune }}</td>
          <td>{{ crmConcurrent.webPage }}</td>
          <td>{{ crmConcurrent.notes }}</td>
          <td>
            <a
              *ngIf="crmConcurrent.attachments"
              (click)="openFile(crmConcurrent.attachments, crmConcurrent.attachmentsContentType)"
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="crmConcurrent.attachments"
              >{{ crmConcurrent.attachmentsContentType }}, {{ byteSize(crmConcurrent.attachments) }}</span
            >
          </td>
          <td>{{ crmConcurrent.aboutSource }}</td>
          <td>{{ crmConcurrent.createdTime | formatMediumDatetime }}</td>
          <td>{{ crmConcurrent.lastUpdate | formatMediumDatetime }}</td>
          <td>{{ crmConcurrent.latitude }}</td>
          <td>{{ crmConcurrent.longitude }}</td>
          <td>
            <a
              *ngIf="crmConcurrent.logo"
              (click)="openFile(crmConcurrent.logo, crmConcurrent.logoContentType)"
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="crmConcurrent.logo">{{ crmConcurrent.logoContentType }}, {{ byteSize(crmConcurrent.logo) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/crm-concurrent', crmConcurrent.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/crm-concurrent', crmConcurrent.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(crmConcurrent)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="crmConcurrents && crmConcurrents.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
