<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-supplier-heading" data-cy="SupplierCreateUpdateHeading" jhiTranslate="scibscrmApp.supplier.home.createOrEditLabel">
        Create or edit a Supplier
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.companyName" for="field_companyName">Company Name</label>
          <input
            type="text"
            class="form-control"
            name="companyName"
            id="field_companyName"
            data-cy="companyName"
            formControlName="companyName"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.tel" for="field_tel">Tel</label>
          <input type="text" class="form-control" name="tel" id="field_tel" data-cy="tel" formControlName="tel" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.mobile" for="field_mobile">Mobile</label>
          <input type="text" class="form-control" name="mobile" id="field_mobile" data-cy="mobile" formControlName="mobile" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.emailAdress" for="field_emailAdress">Email Adress</label>
          <input
            type="text"
            class="form-control"
            name="emailAdress"
            id="field_emailAdress"
            data-cy="emailAdress"
            formControlName="emailAdress"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.createdAt" for="field_createdAt">Created At</label>
          <div class="d-flex">
            <input
              id="field_createdAt"
              data-cy="createdAt"
              type="datetime-local"
              class="form-control"
              name="createdAt"
              formControlName="createdAt"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.supplier.categorie" for="field_categorie">Categorie</label>
          <select
            class="form-control"
            id="field_categorie"
            data-cy="categorie"
            name="categorie"
            formControlName="categorie"
            [compareWith]="compareSupplierCategory"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="supplierCategoryOption" *ngFor="let supplierCategoryOption of supplierCategoriesSharedCollection">
              {{ supplierCategoryOption.spCategory }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
