<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mark-st-history-heading"
        data-cy="MarkStHistoryCreateUpdateHeading"
        jhiTranslate="scibscrmApp.markStHistory.home.createOrEditLabel"
      >
        Create or edit a Mark St History
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.markStHistory.startTime" for="field_startTime">Start Time</label>
          <div class="d-flex">
            <input
              id="field_startTime"
              data-cy="startTime"
              type="datetime-local"
              class="form-control"
              name="startTime"
              formControlName="startTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.markStHistory.endTime" for="field_endTime">End Time</label>
          <div class="d-flex">
            <input
              id="field_endTime"
              data-cy="endTime"
              type="datetime-local"
              class="form-control"
              name="endTime"
              formControlName="endTime"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.markStHistory.createdby" for="field_createdby">Createdby</label>
          <select
            class="form-control"
            id="field_createdby"
            data-cy="createdby"
            name="createdby"
            formControlName="createdby"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">
              {{ employeeOption.employeeName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.markStHistory.transactionCRM" for="field_transactionCRM"
            >Transaction CRM</label
          >
          <select
            class="form-control"
            id="field_transactionCRM"
            data-cy="transactionCRM"
            name="transactionCRM"
            formControlName="transactionCRM"
            [compareWith]="compareTransactionCRM"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="transactionCRMOption" *ngFor="let transactionCRMOption of transactionCRMSSharedCollection">
              {{ transactionCRMOption.id }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.markStHistory.trEtape" for="field_trEtape">Tr Etape</label>
          <select
            class="form-control"
            id="field_trEtape"
            data-cy="trEtape"
            name="trEtape"
            formControlName="trEtape"
            [compareWith]="compareTransactionEtape"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="transactionEtapeOption" *ngFor="let transactionEtapeOption of transactionEtapesSharedCollection">
              {{ transactionEtapeOption.teName }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
