<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="crmDaira">
      <h2 data-cy="crmDairaDetailsHeading"><span jhiTranslate="scibscrmApp.crmDaira.detail.title">Crm Daira</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ crmDaira.id }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.crmDaira.dairaName">Daira Name</span></dt>
        <dd>
          <span>{{ crmDaira.dairaName }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.crmDaira.crmWilaya">Crm Wilaya</span></dt>
        <dd>
          <div *ngIf="crmDaira.crmWilaya">
            <a [routerLink]="['/crm-wilaya', crmDaira.crmWilaya.id, 'view']">{{ crmDaira.crmWilaya.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/crm-daira', crmDaira.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
