<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="crmDocType">
      <h2 data-cy="crmDocTypeDetailsHeading"><span jhiTranslate="scibscrmApp.crmDocType.detail.title">Crm Doc Type</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ crmDocType.id }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.crmDocType.cdtname">Cdtname</span></dt>
        <dd>
          <span>{{ crmDocType.cdtname }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.crmDocType.cdtRef">Cdt Ref</span></dt>
        <dd>
          <span>{{ crmDocType.cdtRef }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/crm-doc-type', crmDocType.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
