<div class="page-header page-header-light shadow">
  <div class="page-header-content d-lg-flex border-bottom">
    <div class="d-flex">
      <h4 class="page-title mb-0">
        Clients-
        <span class="fw-normal">list</span>
      </h4>
    </div>
  </div>
</div>

<div class="content">
  <div class="card">
    <h2 id="page-heading" data-cy="CustomerHeading">
      <div class="d-flex justify-content-end">
        <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
          <span jhiTranslate="scibscrmApp.customer.home.refreshListLabel">Refresh List</span>
        </button>

        <button
          id="jh-create-entity"
          data-cy="entityCreateButton"
          class="btn btn-primary jh-create-entity create-customer"
          [routerLink]="['/customer/new']"
        >
          <fa-icon icon="plus"></fa-icon>
          <span jhiTranslate="scibscrmApp.customer.home.createLabel"> Create a new Customer </span>
        </button>
      </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customers?.length === 0">
      <span jhiTranslate="scibscrmApp.customer.home.notFound">No customers found</span>
    </div>

    <div id="entities" *ngIf="customers && customers.length > 0">
      <table class="table table-xs" aria-describedby="page-heading">
        <thead>
          <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
            <th scope="col" jhiSortBy="id"><span>Client</span> <fa-icon icon="sort"></fa-icon></th>

            <th scope="col" jhiSortBy="company">
              <span jhiTranslate="scibscrmApp.customer.company">Company</span> <fa-icon icon="sort"></fa-icon>
            </th>

            <th scope="col" jhiSortBy="businessPhone">
              <span jhiTranslate="scibscrmApp.customer.businessPhone">Business Phone</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="wilaya">
              <span jhiTranslate="scibscrmApp.customer.wilaya">Wilaya</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="dejaClient">
              <span jhiTranslate="scibscrmApp.customer.dejaClient">Deja Client</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col" jhiSortBy="dateDerniereViste"><span>Derniere Viste</span> <fa-icon icon="sort"></fa-icon></th>
            <th scope="col" jhiSortBy="commercial.employeeName">
              <span jhiTranslate="scibscrmApp.customer.commercial">Commercial</span> <fa-icon icon="sort"></fa-icon>
            </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let customer of customers; trackBy: trackId" data-cy="entityTable">
            <td>
              <a [routerLink]="['/customer', customer.id, 'view']">{{ customer.company }}</a>
            </td>
            <td>{{ customer.company }}</td>
            <td>{{ customer.businessPhone }}</td>
            <td>
              {{ customer.wilaya }}<span>{{ customer.daira }}</span>
            </td>
            <td><input type="checkbox" class="form-check-input" onclick="return false;" [checked]="customer.dejaClient" /></td>
            <td>{{ customer.lastUpdate | formatMediumDate }}</td>
            <td>
              <div *ngIf="customer.commercial">
                <a [routerLink]="['/employee', customer.commercial.id, 'view']">{{ customer.commercial.employeeName }}</a>
              </div>
            </td>
            <td class="text-center">
              <div class="dropdown">
                <a href="#" class="text-body" data-bs-toggle="dropdown">
                  <i class="ph-list"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-start">
                  <a [routerLink]="['/customer', customer.id, 'view']" class="dropdown-item"><i class="ph-calendar-check me-2"></i>Voir</a>
                  <a [routerLink]="['/customer', customer.id, 'edit']" class="dropdown-item"><i class="ph-paperclip me-2"></i>Editer</a>
                  <a (click)="delete(customer)" class="dropdown-item"><i class="ph-user-switch me-2"></i> Supprimer</a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="customers && customers.length > 0">
      <div class="d-flex justify-content-center">
        <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
      </div>

      <div class="d-flex justify-content-center">
        <ngb-pagination
          [collectionSize]="totalItems"
          [(page)]="ngbPaginationPage"
          [pageSize]="itemsPerPage"
          [maxSize]="5"
          [rotate]="true"
          [boundaryLinks]="true"
          (pageChange)="loadPage($event)"
        ></ngb-pagination>
      </div>
      <div>
        <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="itemsPerPage" (change)="loadPage()">
          <option [ngValue]="10">10</option>
          <option [ngValue]="20">20</option>
          <option [ngValue]="50">50</option>
        </select>
      </div>
    </div>
  </div>
</div>
