<div>
  <h2 id="page-heading" data-cy="MarkSegmentHeading">
    <span jhiTranslate="scibscrmApp.markSegment.home.title">Mark Segments</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="scibscrmApp.markSegment.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mark-segment"
        [routerLink]="['/mark-segment/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="scibscrmApp.markSegment.home.createLabel"> Create a new Mark Segment </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="markSegments?.length === 0">
    <span jhiTranslate="scibscrmApp.markSegment.home.notFound">No Mark Segments found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="markSegments && markSegments.length > 0">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="segmentName">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.markSegment.segmentName">Segment Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="customerFilter">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.markSegment.customerFilter">Customer Filter</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="contactFilter">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.markSegment.contactFilter">Contact Filter</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="destinataires">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.markSegment.destinataires">Destinataires</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.markSegment.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let markSegment of markSegments; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mark-segment', markSegment.id, 'view']">{{ markSegment.id }}</a>
          </td>
          <td>{{ markSegment.segmentName }}</td>
          <td>{{ markSegment.customerFilter }}</td>
          <td>{{ markSegment.contactFilter }}</td>
          <td>{{ markSegment.destinataires }}</td>
          <td>{{ markSegment.createdAt | formatMediumDatetime }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mark-compaign']"
                [queryParams]="{ 'filter[markSegmentId.in]': markSegment.id }"
                class="btn btn-info btn-sm"
                data-cy="filterOtherEntityButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span
                  class="d-none d-md-inline"
                  jhiTranslate="entity.action.show"
                  [translateValues]="{ otherEntity: ('scibscrmApp.markSegment.markCompaign' | translate) }"
                  >Show Mark Compaign</span
                >
              </button>
              <button
                type="submit"
                [routerLink]="['/mark-segment', markSegment.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mark-segment', markSegment.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(markSegment)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="markSegments && markSegments.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
