
<jhi-navnx [notificationNumber]="notificationumber" ></jhi-navnx>

<!-- Page content -->
<div class="page-content">
  <jhi-sidebarnx class="sidebar  sidebar-main sidebar-expand-lg" ></jhi-sidebarnx>

  <!-- Main content -->
  <div class="content-wrapper">
    <div class="content-inner">
      <jhi-navbar ></jhi-navbar>
      <router-outlet></router-outlet>

      <!-- /footer -->
      <jhi-footer class="mt-auto"></jhi-footer>
    </div>
  </div>
  <!-- /main content -->
</div>
<!-- /page content -->

<jhi-notification (results)="handleResults($event)" ></jhi-notification>

<!-- Demo config -->
<div class="offcanvas offcanvas-end" tabindex="-1" id="demo_config">
  <div class="position-absolute top-50 end-100 visible">
    <button
      type="button"
      class="btn btn-primary btn-icon translate-middle-y rounded-end-0"
      data-bs-toggle="offcanvas"
      data-bs-target="#demo_config"
    >
      <i class="ph-gear"></i>
    </button>
  </div>

  <div class="offcanvas-header border-bottom py-0">
    <h5 class="offcanvas-title py-3">configuration</h5>
    <button type="button" class="btn btn-light btn-sm btn-icon border-transparent rounded-pill" data-bs-dismiss="offcanvas">
      <i class="ph-x"></i>
    </button>
  </div>

  <div class="offcanvas-body">
    <div class="fw-semibold mb-2">Couleur</div>
    <div class="list-group mb-3">
      <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
        <div class="d-flex flex-fill my-1">
          <div class="form-check-label d-flex me-2">
            <i class="ph-sun ph-lg me-3"></i>
            <div>
              <span class="fw-bold">Light</span>
              <div class="fs-sm text-muted">Selectionner le theme light</div>
            </div>
          </div>
          <input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="light" checked />
        </div>
      </label>

      <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-2">
        <div class="d-flex flex-fill my-1">
          <div class="form-check-label d-flex me-2">
            <i class="ph-moon ph-lg me-3"></i>
            <div>
              <span class="fw-bold">noir</span>
              <div class="fs-sm text-muted">selectionner le theme noir</div>
            </div>
          </div>
          <input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="dark" />
        </div>
      </label>

      <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
        <div class="d-flex flex-fill my-1">
          <div class="form-check-label d-flex me-2">
            <i class="ph-translate ph-lg me-3"></i>
            <div>
              <span class="fw-bold">Auto</span>
              <div class="fs-sm text-muted">selectionner le mode auto</div>
            </div>
          </div>
          <input type="radio" class="form-check-input cursor-pointer ms-auto" name="main-theme" value="auto" />
        </div>
      </label>
    </div>

    <div class="fw-semibold mb-2" style="display:none;">Direction</div>
    <div class="list-group mb-3" style="display:none;">
      <label class="list-group-item list-group-item-action form-check border-width-1 rounded mb-0">
        <div class="d-flex flex-fill my-1">
          <div class="form-check-label d-flex me-2">
            <i class="ph-translate ph-lg me-3"></i>
            <div>
              <span class="fw-bold">RTL direction</span>
              <div class="text-muted">Toggle between LTR and RTL</div>
            </div>
          </div>
          <input type="checkbox" name="layout-direction" value="rtl" class="form-check-input cursor-pointer m-0 ms-auto" />
        </div>
      </label>
    </div>


  </div>
</div>
<!-- /demo config -->
