<div>
  <h2 id="page-heading" data-cy="EmailTemplateHeading">
    <span jhiTranslate="scibscrmApp.emailTemplate.home.title">Email Templates</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="scibscrmApp.emailTemplate.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-email-template"
        [routerLink]="['/email-template/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="scibscrmApp.emailTemplate.home.createLabel"> Create a new Email Template </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <jhi-filter [filters]="filters"></jhi-filter>

  <div class="alert alert-warning" id="no-result" *ngIf="emailTemplates?.length === 0">
    <span jhiTranslate="scibscrmApp.emailTemplate.home.notFound">No Email Templates found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="emailTemplates && emailTemplates.length > 0">
    <table class="table table-hover" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="templateName">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.emailTemplate.templateName">Template Name</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="emailSubject">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.emailTemplate.emailSubject">Email Subject</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>

          <th scope="col" jhiSortBy="tempType">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.emailTemplate.tempType">Temp Type</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>


          <th scope="col" jhiSortBy="createdAt">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.emailTemplate.createdAt">Created At</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="attachments">
            <div class="d-flex">
              <span jhiTranslate="scibscrmApp.emailTemplate.attachments">Attachments</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let emailTemplate of emailTemplates; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/email-template', emailTemplate.id, 'view']">{{ emailTemplate.id }}</a>
          </td>
          <td>{{ emailTemplate.templateName }}</td>
          <td>{{ emailTemplate.emailSubject }}</td>
          <td jhiTranslate="{{ 'scibscrmApp.TemplateType.' + emailTemplate.tempType }}">{{ emailTemplate.tempType }}</td>

          <td>{{ emailTemplate.createdAt | formatMediumDatetime }}</td>
          <td>
            <a
              *ngIf="emailTemplate.attachments"
              (click)="openFile(emailTemplate.attachments, emailTemplate.attachmentsContentType)"
              jhiTranslate="entity.action.open"
              >Open</a
            >
            <span *ngIf="emailTemplate.attachments"
              >{{ emailTemplate.attachmentsContentType }}, {{ byteSize(emailTemplate.attachments) }}</span
            >
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/email-template', emailTemplate.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/email-template', emailTemplate.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(emailTemplate)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="emailTemplates && emailTemplates.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [page]="page"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="navigateToPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
