<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="crmWilaya">
      <h2 data-cy="crmWilayaDetailsHeading"><span jhiTranslate="scibscrmApp.crmWilaya.detail.title">Crm Wilaya</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ crmWilaya.id }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.crmWilaya.wilayaName">Wilaya Name</span></dt>
        <dd>
          <span>{{ crmWilaya.wilayaName }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.crmWilaya.crmCountry">Crm Country</span></dt>
        <dd>
          <div *ngIf="crmWilaya.crmCountry">
            <a [routerLink]="['/crm-country', crmWilaya.crmCountry.id, 'view']">{{ crmWilaya.crmCountry.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/crm-wilaya', crmWilaya.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
