<div class="card card-body">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-crm-contact-heading" data-cy="CrmContactCreateUpdateHeading" >
        Créer un contact
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>




        <div class="row mb-3">
          <label class="form-label"  for="field_firstName">Nom</label>
          <input type="text" class="form-control" name="firstName" id="field_firstName" data-cy="firstName" formControlName="firstName" />
          <div *ngIf="editForm.get('firstName')!.invalid && (editForm.get('firstName')!.dirty || editForm.get('firstName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('firstName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_lastName">Prénom</label>
          <input type="text" class="form-control" name="lastName" id="field_lastName" data-cy="lastName" formControlName="lastName" />
          <div *ngIf="editForm.get('lastName')!.invalid && (editForm.get('lastName')!.dirty || editForm.get('lastName')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('lastName')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_contacttype">Type Contact</label>
          <select
            class="form-control"
            id="field_contacttype"
            data-cy="contacttype"
            name="contacttype"
            formControlName="contacttype"
            [compareWith]="compareCrmContactType"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="crmContactTypeOption" *ngFor="let crmContactTypeOption of crmContactTypesSharedCollection">
              {{ crmContactTypeOption.contactType }}
            </option>
          </select>
        </div>



        <div class="row mb-3">
          <label class="form-label" for="field_emailAddress">Email</label>
          <input
            type="text"
            class="form-control"
            name="emailAddress"
            id="field_emailAddress"
            data-cy="emailAddress"
            formControlName="emailAddress"
          />
          <div
            *ngIf="editForm.get('emailAddress')!.invalid && (editForm.get('emailAddress')!.dirty || editForm.get('emailAddress')!.touched)"
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('emailAddress')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_jobTitle">Civilité</label>
          <input type="text" class="form-control" name="jobTitle" id="field_jobTitle" data-cy="jobTitle" formControlName="jobTitle" />
          <div *ngIf="editForm.get('jobTitle')!.invalid && (editForm.get('jobTitle')!.dirty || editForm.get('jobTitle')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('jobTitle')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_contactJob">Fonction</label>
          <input
            type="text"
            class="form-control"
            name="contactJob"
            id="field_contactJob"
            data-cy="contactJob"
            formControlName="contactJob"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_businessPhone">Téléphone</label>
          <input
            type="text"
            class="form-control"
            name="businessPhone"
            id="field_businessPhone"
            data-cy="businessPhone"
            formControlName="businessPhone"
          />
          <div
            *ngIf="
              editForm.get('businessPhone')!.invalid && (editForm.get('businessPhone')!.dirty || editForm.get('businessPhone')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('businessPhone')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 25 }"
            >
              This field cannot be longer than 25 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_homePhone">Téléphone Personnel</label>
          <input type="text" class="form-control" name="homePhone" id="field_homePhone" data-cy="homePhone" formControlName="homePhone" />
          <div *ngIf="editForm.get('homePhone')!.invalid && (editForm.get('homePhone')!.dirty || editForm.get('homePhone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('homePhone')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 25 }"
            >
              This field cannot be longer than 25 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_mobilePhone">Mobile</label>
          <input
            type="text"
            class="form-control"
            name="mobilePhone"
            id="field_mobilePhone"
            data-cy="mobilePhone"
            formControlName="mobilePhone"
          />
          <div *ngIf="editForm.get('mobilePhone')!.invalid && (editForm.get('mobilePhone')!.dirty || editForm.get('mobilePhone')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('mobilePhone')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 25 }"
            >
              This field cannot be longer than 25 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_faxNumber">Fax</label>
          <input type="text" class="form-control" name="faxNumber" id="field_faxNumber" data-cy="faxNumber" formControlName="faxNumber" />
          <div *ngIf="editForm.get('faxNumber')!.invalid && (editForm.get('faxNumber')!.dirty || editForm.get('faxNumber')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('faxNumber')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 25 }"
            >
              This field cannot be longer than 25 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_addresse">Addresse</label>
          <input type="text" class="form-control" name="addresse" id="field_addresse" data-cy="addresse" formControlName="addresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_naissanceDate">Date Naissance</label>
          <div class="input-group">
            <input
              id="field_naissanceDate"
              data-cy="naissanceDate"
              type="text"
              class="form-control"
              name="naissanceDate"
              ngbDatepicker
              #naissanceDateDp="ngbDatepicker"
              formControlName="naissanceDate"
            />
            <button type="button" class="btn btn-secondary" (click)="naissanceDateDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_photo">Photo</label>
          <div>
            <div *ngIf="editForm.get('photo')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('photo')!.value!, editForm.get('photoContentType')!.value!)"
                jhiTranslate="entity.action.open"
                >Open</a
              ><br />
              <span class="pull-start">{{ editForm.get('photoContentType')!.value }}, {{ byteSize(editForm.get('photo')!.value!) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ photo: undefined, photoContentType: undefined })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_photo"
              data-cy="photo"
              (change)="setFileData($event, 'photo', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="photo" id="field_photo" data-cy="photo" formControlName="photo" />
          <input
            type="hidden"
            class="form-control"
            name="photoContentType"
            id="field_photoContentType"
            formControlName="photoContentType"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_wilaya">Wilaya</label>
          <input type="text" class="form-control" name="wilaya" id="field_wilaya" data-cy="wilaya" formControlName="wilaya" />
          <div *ngIf="editForm.get('wilaya')!.invalid && (editForm.get('wilaya')!.dirty || editForm.get('wilaya')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('wilaya')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_daira">Daira</label>
          <input type="text" class="form-control" name="daira" id="field_daira" data-cy="daira" formControlName="daira" />
          <div *ngIf="editForm.get('daira')!.invalid && (editForm.get('daira')!.dirty || editForm.get('daira')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('daira')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"   for="field_codePostal">Code Postal</label>
          <input
            type="text"
            class="form-control"
            name="codePostal"
            id="field_codePostal"
            data-cy="codePostal"
            formControlName="codePostal"
          />
          <div *ngIf="editForm.get('codePostal')!.invalid && (editForm.get('codePostal')!.dirty || editForm.get('codePostal')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('codePostal')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 15 }"
            >
              This field cannot be longer than 15 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"   for="field_commune">Commune</label>
          <input type="text" class="form-control" name="commune" id="field_commune" data-cy="commune" formControlName="commune" />
          <div *ngIf="editForm.get('commune')!.invalid && (editForm.get('commune')!.dirty || editForm.get('commune')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('commune')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"   for="field_pays">Pays</label>
          <input type="text" class="form-control" name="pays" id="field_pays" data-cy="pays" formControlName="pays" />
          <div *ngIf="editForm.get('pays')!.invalid && (editForm.get('pays')!.dirty || editForm.get('pays')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('pays')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label"   for="field_webPage">Site Web</label>
          <input type="text" class="form-control" name="webPage" id="field_webPage" data-cy="webPage" formControlName="webPage" />
        </div>


        <div class="row mb-3">
          <label class="form-label"  for="field_notes">Notes</label>
          <input type="text" class="form-control" name="notes" id="field_notes" data-cy="notes" formControlName="notes" />
        </div>

        <div class="row mb-3">
          <label class="form-label"   for="field_crmContactSource"
            >Source de contact</label
          >
          <select
            class="form-control"
            id="field_crmContactSource"
            data-cy="crmContactSource"
            name="crmContactSource"
            formControlName="crmContactSource"
            [compareWith]="compareCrmCOntactSource"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="crmCOntactSourceOption" *ngFor="let crmCOntactSourceOption of crmCOntactSourcesSharedCollection">
              {{ crmCOntactSourceOption.contactSource }}
            </option>
          </select>
        </div>
        <div class="row mb-3">
          <label class="form-label"  for="field_aboutSource">A propos de la source</label>
          <input
            type="text"
            class="form-control"
            name="aboutSource"
            id="field_aboutSource"
            data-cy="aboutSource"
            formControlName="aboutSource"
          />
        </div>


        <div class="row mb-3">
          <label class="form-label"   for="field_responsable">Responsable</label>
          <select
            class="form-control"
            id="field_responsable"
            data-cy="responsable"
            name="responsable"
            formControlName="responsable"
            [compareWith]="compareEmployee"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="employeeOption" *ngFor="let employeeOption of employeesSharedCollection">
              {{ employeeOption.employeeName }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label"  for="field_societe">Societe</label>
          <select
            class="form-control"
            id="field_societe"
            data-cy="societe"
            name="societe"
            formControlName="societe"
            [compareWith]="compareCustomer"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="customerOption" *ngFor="let customerOption of customersSharedCollection">
              {{ customerOption.company }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
