<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-transporter-heading"
        data-cy="TransporterCreateUpdateHeading"
        jhiTranslate="scibscrmApp.transporter.home.createOrEditLabel"
      >
        Create or edit a Transporter
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.nomprenom" for="field_nomprenom">Nomprenom</label>
          <input type="text" class="form-control" name="nomprenom" id="field_nomprenom" data-cy="nomprenom" formControlName="nomprenom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.telephone" for="field_telephone">Telephone</label>
          <input type="text" class="form-control" name="telephone" id="field_telephone" data-cy="telephone" formControlName="telephone" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.permitdoc" for="field_permitdoc">Permitdoc</label>
          <input type="text" class="form-control" name="permitdoc" id="field_permitdoc" data-cy="permitdoc" formControlName="permitdoc" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.expireDate" for="field_expireDate">Expire Date</label>
          <div class="input-group">
            <input
              id="field_expireDate"
              data-cy="expireDate"
              type="text"
              class="form-control"
              name="expireDate"
              ngbDatepicker
              #expireDateDp="ngbDatepicker"
              formControlName="expireDate"
            />
            <button type="button" class="btn btn-secondary" (click)="expireDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.adresse" for="field_adresse">Adresse</label>
          <input type="text" class="form-control" name="adresse" id="field_adresse" data-cy="adresse" formControlName="adresse" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.commune" for="field_commune">Commune</label>
          <input type="text" class="form-control" name="commune" id="field_commune" data-cy="commune" formControlName="commune" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.daira" for="field_daira">Daira</label>
          <input type="text" class="form-control" name="daira" id="field_daira" data-cy="daira" formControlName="daira" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="scibscrmApp.transporter.wilaya" for="field_wilaya">Wilaya</label>
          <input type="text" class="form-control" name="wilaya" id="field_wilaya" data-cy="wilaya" formControlName="wilaya" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
