<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="uniteMesure">
      <h2 data-cy="uniteMesureDetailsHeading"><span jhiTranslate="scibscrmApp.uniteMesure.detail.title">Unite Mesure</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ uniteMesure.id }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.uniteMesure.unitName">Unit Name</span></dt>
        <dd>
          <span>{{ uniteMesure.unitName }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.uniteMesure.unitShortName">Unit Short Name</span></dt>
        <dd>
          <span>{{ uniteMesure.unitShortName }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/unite-mesure', uniteMesure.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
