<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="departement">
      <h2 data-cy="departementDetailsHeading"><span jhiTranslate="scibscrmApp.departement.detail.title">Departement</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ departement.id }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.departement.departmentName">Department Name</span></dt>
        <dd>
          <span>{{ departement.departmentName }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.departement.departmentCode">Department Code</span></dt>
        <dd>
          <span>{{ departement.departmentCode }}</span>
        </dd>
        <dt><span jhiTranslate="scibscrmApp.departement.entreprise">Entreprise</span></dt>
        <dd>
          <div *ngIf="departement.entreprise">
            <a [routerLink]="['/company', departement.entreprise.id, 'view']">{{ departement.entreprise.company }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/departement', departement.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
